@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6;
    color: #111827;
}

.dark body {
    background-color: #0f172a;;
    color: #f1f5f9;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer utilities {
    
    .future-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #4ade80 transparent;
    }

    .future-scrollbar::-webkit-scrollbar {
        height: 6px;
    }

    .future-scrollbar::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .future-scrollbar::-webkit-scrollbar-thumb {
        background-color: #4ade80;
        border-radius: 20px;
        cursor: pointer;
    }

    .future-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #22c55e;
    }
}